USE [master]
GO
/****** Object:  Database [DBBlogify]    Script Date: 14/01/2021 7:13:25 p. m. ******/
CREATE DATABASE [DBBlogify]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBBlogify', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DBBlogify.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DBBlogify_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DBBlogify_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 1024KB )
 COLLATE Modern_Spanish_CI_AS
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBBlogify].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBBlogify]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 14/01/2021 7:13:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Category] [int] NOT NULL,
	[Title] [char](120) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[Created] [smalldatetime] NOT NULL,
	[Author] [char](20) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[Data] [varchar](max) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[Editor] [char](20) COLLATE Modern_Spanish_CI_AS NULL,
	[Edited] [smalldatetime] NULL,
	[Revision] [varchar](max) COLLATE Modern_Spanish_CI_AS NULL,
	[Status] [char](1) COLLATE Modern_Spanish_CI_AS NOT NULL,
 CONSTRAINT [PK_Blog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 14/01/2021 7:13:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [char](50) COLLATE Modern_Spanish_CI_AS NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 14/01/2021 7:13:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BlogId] [int] NOT NULL,
	[Created] [smalldatetime] NOT NULL,
	[Data] [varchar](200) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[Author] [char](20) COLLATE Modern_Spanish_CI_AS NOT NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 14/01/2021 7:13:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Username] [char](20) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[Password] [varchar](512) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[Name] [char](150) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[Role] [char](20) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Blog] ON 

SET IDENTITY_INSERT [dbo].[Blog] OFF
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [Name]) VALUES (1, N'Parenthood                                        ')
INSERT [dbo].[Category] ([Id], [Name]) VALUES (2, N'Cooking                                           ')
INSERT [dbo].[Category] ([Id], [Name]) VALUES (3, N'Landscaping                                       ')
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([Id], [BlogId], [Created], [Data], [Author]) VALUES (2, 3, CAST(N'2021-01-13T13:05:00' AS SmallDateTime), N'Great!', N'Anonymous           ')
INSERT [dbo].[Comment] ([Id], [BlogId], [Created], [Data], [Author]) VALUES (3, 3, CAST(N'2021-01-13T13:05:00' AS SmallDateTime), N'Awsome article', N'Anonymous           ')
INSERT [dbo].[Comment] ([Id], [BlogId], [Created], [Data], [Author]) VALUES (4, 3, CAST(N'2021-01-13T13:05:00' AS SmallDateTime), N'Nice, just what I needed', N'Anonymous           ')
SET IDENTITY_INSERT [dbo].[Comment] OFF
INSERT [dbo].[User] ([Username], [Password], [Name], [Role], [IsActive]) VALUES (N'blogger1            ', N'Back4g00d', N'Blogger 1                                                                                                                                             ', N'Writer              ', 1)
INSERT [dbo].[User] ([Username], [Password], [Name], [Role], [IsActive]) VALUES (N'blogger2            ', N'Back4g00d', N'Blogger 2                                                                                                                                             ', N'Writer              ', 1)
INSERT [dbo].[User] ([Username], [Password], [Name], [Role], [IsActive]) VALUES (N'klacatt             ', N'Back4g00d', N'Kade Lacatt                                                                                                                                           ', N'Editor              ', 1)
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD  CONSTRAINT [FK_Blog_Author] FOREIGN KEY([Author])
REFERENCES [dbo].[User] ([Username])
GO
ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [FK_Blog_Author]
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD  CONSTRAINT [FK_Blog_Category] FOREIGN KEY([Category])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [FK_Blog_Category]
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD  CONSTRAINT [FK_Blog_Editor] FOREIGN KEY([Editor])
REFERENCES [dbo].[User] ([Username])
GO
ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [FK_Blog_Editor]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Blog] FOREIGN KEY([BlogId])
REFERENCES [dbo].[Blog] ([Id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Blog]
GO
USE [master]
GO
