@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Blogify is open source micro blog engine. <a href="https://github.com/kado/blogify" target="_blank">Check us on GitHub</a>.</p>
</div>
