@model BlogifyWebApp.Models.BlogCreateViewModel

@{
    ViewData["Title"] = "Create a Blog Entry";
}

<h1>Create a Blog Entry</h1>
<hr />
<!-- Renders a partial view with a bootstrap alert, showing information to the user -->
<partial name="_ResultAlert" model="(BlogifyWebApp.Models.ResultViewModel) ViewBag.Result" />
<div class="row">
    <div class="col-12">
        <form asp-action="Create" asp-controller="Blog">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" asp-items="(List<SelectListItem>) ViewBag.BlogCategories" class="form-control"></select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <textarea id="editor" asp-for="Data" class="form-control"></textarea>
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block">
                    <i class="fa fa-paper-plane"></i>
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        <a class="btn btn-outline-primary" asp-action="MyBlogs">Back to My Blogs</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <link rel="stylesheet" href="~/css/highlight.min.css" />
    <link rel="stylesheet" href="~/css/wysiwyg.min.css" />

    <script src="~/js/highlight.min.js"></script>
    <script src="~/js/wysiwyg.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#editor').wysiwyg({ debug: false });
        });
    </script>

}
