@model BlogifyWebApp.Models.BlogCreateViewModel

@{
    ViewData["Title"] = "Edit Blog Entry";
}

<h1>Edit a Blog Entry</h1>
<hr />
<!-- Renders a partial view with a bootstrap alert, showing information to the user -->
<partial name="_ResultAlert" model="(BlogifyWebApp.Models.ResultViewModel) ViewBag.Result" />
<div class="row">
    <div class="col-12">
        <form asp-action="Edit" asp-controller="Blog">
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="Id"  />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" asp-items="(List<SelectListItem>) ViewBag.BlogCategories" class="form-control"></select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <textarea asp-for="Data" class="form-control"></textarea>
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block">
                    <i class="fa fa-paper-plane"></i>
                    Update
                </button>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        <a class="btn btn-outline-primary" asp-action="MyBlogs">Back to My Blogs</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
